
body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import './components/main-page.scss';
@import './components/form-body.scss';
@import './components/form-body-products.scss';